<div class="row formularios card">

<% if current_user.puntos  %>
<%=flash[:notice] = 'Usted tiene puntos disponibles para publicar una nueva gauchada' %>

<%= render 'form' %>
<% else %>
<%=flash[:alert] = 'No tiene puntos para publicar una gauchada' %>
<%end %>
</div>
