<div class="row formularios card">

<% if (current_user.puntos == 0 ) %>
  <%=flash[:alert] = 'No tiene puntos para publicar una gauchada' %>
<% else %>
  <%=flash[:notice] = 'Usted tiene puntos disponibles para publicar una nueva gauchada' %>
  <%= render 'form' %>

<%end %>
</div>
